.report-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  
}

.report-income{
    border: 2px solid rgb(15, 236, 15);
    width: 100%;
    padding: 10px;
    text-align: center;
}

.report-expense {
  border: 2px solid rgb(230, 7, 7);
  width: 100%;
  padding: 10px;
  text-align: center;
}   

.report-transaction {
  border: 5px solid black;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

